
main{
    height: 100vh;
    background: linear-gradient(0deg, #E5E5E5 0%, #F6BD87 8.54%, #E79F84 24.32%, #EC9F94 40.68%, #EB9B95 58.38%, #E89A95 65.44%, #DD9795 71.43%, #CC9396 77.03%, #B38C96 82.39%, #9A8F9C 87.59%, #9DA1A9 92.59%, #B3B9C0 96.37%);
    background-repeat: no-repeat;
}
.container{
    height: 100%;
}
/* Login */
.login{
    width: 95%;
    box-shadow: 0px 0px 15px 7px rgb(0 0 0 / 25%);
}
.login > div{
    width: 100%;
}
.menu-login{
    margin-top: 30px;
}
.login-logo{
    max-width: 115px;
    background-color: white;
    border-radius: 100%;
    max-height: 115px;
    margin: -80px auto 0 auto;
    padding-top: 10px;
    box-shadow: 0px -20px 20px 0px rgb(0 0 0 / 15%);
}
.login-logo img{
    max-width: 90%;
    margin: 0 auto;
    display: block;
}
.login ul{
    border: 0px;
}
.login ul button{
    border: 0px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid red;
}
.login-network{
    text-align: center;
}
.aviso, .senha_recupera{
    font-size: 0.7rem;
}

.form-login form button{
    max-width: 60%;
}
/* index */
main.content{
    height: 100vh;
}

main.content > .container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bem-vindo{
    color:white;
    text-shadow: 2px 2px 3px rgba(150, 150, 150, 1);
}